.icon-bar {
  border-color: #FFA800;
    float: left;
    width: 25px;
    text-align: center;
}

body {
  background-color: #D06700;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input[type="text"] {
  background-color: #D06700;
  border-color: #D06700;
  border: none;
  color:#D06700;
  width: 1%;
}
